<!--メニュー-->

<nav id="menubar">
    <ul> 
        <?php
            session_start();
            require_once 'php/UserInfo.php';
            require_once 'php/SessionCheck.php';
            if(isset($_SESSION['user'])){
                $user = unserialize($_SESSION['user']);
            }
                

            $ClsSessionCheck = new SessionCheck();
            $sessioncheck = $ClsSessionCheck->sessioncheck();
        ?>
        <li><a href="ItemList.html">HOME<i class="bi bi-house"></i></a></li>
        <li><a href="Cart.html">カート<i class="bi bi-cart4"></i></a></li>
        <li><a href="OrderHistory.html">注文履歴<i class="bi bi-clipboard2-check"></i></a></li>
        <?php if($sessioncheck == true){?>
            <li><a href=""><?php echo $user->username;?>さん<?php echo $user->point;?>ポイント<i class="bi bi-p-circle"></i></a></li>
        <?php }?>
        <?php if($sessioncheck == true){?>
            <li><a href="php/Logout.php">ログアウト<i class="bi bi-person-slash"></i></a></li>
        <?php }else{?>
            <li><a href="Login.html">ログイン<i class="bi bi-person-slash"></i></a></li>
        <?php } ?>
    </ul>
</nav>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
    <span></span><span></span><span></span>
</div>